Code from kernel https://www.kaggle.com/konstantinmasich/titanic-0-82-0-83

In [1]:
# NumPy
import numpy as np

# Dataframe operations
import pandas as pd

# Data visualization
import seaborn as sns
import matplotlib.pyplot as plt

# Scalers
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.utils import shuffle

# Models
from sklearn.linear_model import LogisticRegression #logistic regression
from sklearn.linear_model import Perceptron
from sklearn import svm #support vector Machine
from sklearn.ensemble import RandomForestClassifier #Random Forest
from sklearn.neighbors import KNeighborsClassifier #KNN
from sklearn.naive_bayes import GaussianNB #Naive bayes
from sklearn.tree import DecisionTreeClassifier #Decision Tree
from sklearn.model_selection import train_test_split #training and testing data split
from sklearn import metrics #accuracy measure
from sklearn.metrics import confusion_matrix #for confusion matrix
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neural_network import MLPClassifier

# Cross-validation
from sklearn.model_selection import KFold #for K-fold cross validation
from sklearn.model_selection import cross_val_score #score evaluation
from sklearn.model_selection import cross_val_predict #prediction
from sklearn.model_selection import cross_validate

# GridSearchCV
from sklearn.model_selection import GridSearchCV

#Common Model Algorithms
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process

#Common Model Helpers
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

#Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
from pandas.tools.plotting import scatter_matrix

In [4]:
train_df = pd.read_csv('train.csv', sep=',')
test_df = pd.read_csv('test.csv', sep=',')
data_df = pd.concat([train_df, test_df]) # The entire data: train + test.

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
data_df['Title'] = data_df['Name']
# Cleaning name and extracting Title
for name_string in data_df['Name']:
    data_df['Title'] = data_df['Name'].str.extract('([A-Za-z]+)\.', expand=True)

# Replacing rare titles with more common ones
mapping = {'Mlle': 'Miss', 'Major': 'Mr', 'Col': 'Mr', 'Sir': 'Mr', 'Don': 'Mr', 'Mme': 'Miss',
          'Jonkheer': 'Mr', 'Lady': 'Mrs', 'Capt': 'Mr', 'Countess': 'Mrs', 'Ms': 'Miss', 'Dona': 'Mrs'}
data_df.replace({'Title': mapping}, inplace=True)
titles = ['Dr', 'Master', 'Miss', 'Mr', 'Mrs', 'Rev']
for title in titles:
    age_to_impute = data_df.groupby('Title')['Age'].median()[titles.index(title)]
    data_df.loc[(data_df['Age'].isnull()) & (data_df['Title'] == title), 'Age'] = age_to_impute
    
# Substituting Age values in TRAIN_DF and TEST_DF:
train_df['Age'] = data_df['Age'][:891]
test_df['Age'] = data_df['Age'][891:]

# Dropping Title feature
data_df.drop('Title', axis = 1, inplace = True)

In [21]:
data_df

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Family_Size,Last_Name,Family_Survival,FareBin,FareBin_Code,AgeBin,AgeBin_Code
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,1,Braund,0.5,"(-0.001, 7.854]",0,"(0.169, 22.0]",0
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,1,Cumings,0.5,"(41.579, 512.329]",4,"(36.0, 80.0]",3
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,0,Heikkinen,0.5,"(7.854, 10.5]",1,"(22.0, 30.0]",1
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,1,Futrelle,0.0,"(41.579, 512.329]",4,"(30.0, 36.0]",2
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,0,Allen,0.5,"(7.854, 10.5]",1,"(30.0, 36.0]",2
5,30.0,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,0,Moran,0.5,"(7.854, 10.5]",1,"(22.0, 30.0]",1
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,0,McCarthy,0.5,"(41.579, 512.329]",4,"(36.0, 80.0]",3
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,4,Palsson,0.0,"(10.5, 21.679]",2,"(0.169, 22.0]",0
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,2,Johnson,1.0,"(10.5, 21.679]",2,"(22.0, 30.0]",1
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,1,Nasser,0.0,"(21.679, 41.579]",3,"(0.169, 22.0]",0
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,2,Sandstrom,1.0,"(10.5, 21.679]",2,"(0.169, 22.0]",0
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,0,Bonnell,0.5,"(21.679, 41.579]",3,"(36.0, 80.0]",3
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,0,Saundercock,0.5,"(7.854, 10.5]",1,"(0.169, 22.0]",0
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,6,Andersson,0.0,"(21.679, 41.579]",3,"(36.0, 80.0]",3
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,0,Vestrom,0.5,"(-0.001, 7.854]",0,"(0.169, 22.0]",0
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,0,Hewlett,0.5,"(10.5, 21.679]",2,"(36.0, 80.0]",3
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,5,Rice,0.0,"(21.679, 41.579]",3,"(0.169, 22.0]",0
17,30.0,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,0,Williams,0.5,"(10.5, 21.679]",2,"(22.0, 30.0]",1
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,1,Vander Planke,0.0,"(10.5, 21.679]",2,"(30.0, 36.0]",2
19,36.0,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,0,Masselmani,0.5,"(-0.001, 7.854]",0,"(30.0, 36.0]",2
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,0,Fynney,0.0,"(21.679, 41.579]",3,"(30.0, 36.0]",2
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,0,Beesley,0.5,"(10.5, 21.679]",2,"(30.0, 36.0]",2
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,0,McGowan,0.5,"(7.854, 10.5]",1,"(0.169, 22.0]",0
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,0,Sloper,0.5,"(21.679, 41.579]",3,"(22.0, 30.0]",1
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,4,Palsson,0.0,"(10.5, 21.679]",2,"(0.169, 22.0]",0
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,6,Asplund,1.0,"(21.679, 41.579]",3,"(36.0, 80.0]",3
26,30.0,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,0,Emir,0.5,"(-0.001, 7.854]",0,"(22.0, 30.0]",1
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,5,Fortune,1.0,"(41.579, 512.329]",4,"(0.169, 22.0]",0
28,22.0,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,0,O'Dwyer,0.5,"(7.854, 10.5]",1,"(0.169, 22.0]",0
29,30.0,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,0,Todoroff,0.5,"(7.854, 10.5]",1,"(22.0, 30.0]",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858,0,Canavan,0.0,"(-0.001, 7.854]",0,"(0.169, 22.0]",0
389,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909,4,Palsson,0.0,"(10.5, 21.679]",2,"(0.169, 22.0]",0
390,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749,0,Payne,1.0,"(41.579, 512.329]",4,"(22.0, 30.0]",1
391,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592,1,Lines,1.0,"(21.679, 41.579]",3,"(36.0, 80.0]",3
392,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673,2,Abbott,1.0,"(10.5, 21.679]",2,"(0.169, 22.0]",0
393,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769,0,Gilbert,0.5,"(7.854, 10.5]",1,"(36.0, 80.0]",3
394,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153,4,Kink-Heilmann,1.0,"(21.679, 41.579]",3,"(22.0, 30.0]",1
395,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695,1,Smith,0.5,"(41.579, 512.329]",4,"(0.169, 22.0]",0
396,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109,0,Colbert,0.5,"(-0.001, 7.854]",0,"(22.0, 30.0]",1
397,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567,2,Frolicher-Stehli,1.0,"(41.579, 512.329]",4,"(36.0, 80.0]",3
398,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065,0,Larsson-Rondberg,0.5,"(-0.001, 7.854]",0,"(0.169, 22.0]",0
399,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332,0,Conlon,0.5,"(-0.001, 7.854]",0,"(30.0, 36.0]",2
400,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928,0,Bonnell,1.0,"(41.579, 512.329]",4,"(22.0, 30.0]",1
401,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664,1,Gale,0.0,"(10.5, 21.679]",2,"(36.0, 80.0]",3
402,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378,1,Gibson,0.5,"(41.579, 512.329]",4,"(0.169, 22.0]",0
403,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059,0,Carrau,0.0,"(41.579, 512.329]",4,"(0.169, 22.0]",0
404,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765,1,Frauenthal,0.5,"(21.679, 41.579]",3,"(36.0, 80.0]",3
405,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166,0,Nourney,0.5,"(10.5, 21.679]",2,"(0.169, 22.0]",0
406,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666,1,Ware,0.5,"(7.854, 10.5]",1,"(22.0, 30.0]",1
407,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503,2,Widener,0.0,"(41.579, 512.329]",4,"(36.0, 80.0]",3
408,22.0,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915,0,Riordan,0.5,"(-0.001, 7.854]",0,"(0.169, 22.0]",0
409,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315,2,Peacock,0.5,"(10.5, 21.679]",2,"(0.169, 22.0]",0
410,22.0,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237,0,Naughton,0.5,"(-0.001, 7.854]",0,"(0.169, 22.0]",0
411,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928,1,Minahan,1.0,"(41.579, 512.329]",4,"(36.0, 80.0]",3
412,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086,0,Henriksson,0.5,"(-0.001, 7.854]",0,"(22.0, 30.0]",1
413,30.0,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236,0,Spector,0.5,"(7.854, 10.5]",1,"(22.0, 30.0]",1
414,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758,0,Oliva y Ocana,1.0,"(41.579, 512.329]",4,"(36.0, 80.0]",3
415,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262,0,Saether,0.5,"(-0.001, 7.854]",0,"(36.0, 80.0]",3
416,30.0,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309,0,Ware,0.5,"(7.854, 10.5]",1,"(22.0, 30.0]",1
417,4.0,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668,2,Peter,1.0,"(21.679, 41.579]",3,"(0.169, 22.0]",0

In [9]:
data_df['Family_Size'] = data_df['Parch'] + data_df['SibSp']

# Substituting Age values in TRAIN_DF and TEST_DF:
train_df['Family_Size'] = data_df['Family_Size'][:891]
test_df['Family_Size'] = data_df['Family_Size'][891:]

In [10]:
data_df['Last_Name'] = data_df['Name'].apply(lambda x: str.split(x, ",")[0])
data_df['Fare'].fillna(data_df['Fare'].mean(), inplace=True)

DEFAULT_SURVIVAL_VALUE = 0.5
data_df['Family_Survival'] = DEFAULT_SURVIVAL_VALUE

for grp, grp_df in data_df[['Survived','Name', 'Last_Name', 'Fare', 'Ticket', 'PassengerId',
                           'SibSp', 'Parch', 'Age', 'Cabin']].groupby(['Last_Name', 'Fare']):
    
    if (len(grp_df) != 1):
        # A Family group is found.
        for ind, row in grp_df.iterrows():
            smax = grp_df.drop(ind)['Survived'].max()
            smin = grp_df.drop(ind)['Survived'].min()
            passID = row['PassengerId']
            if (smax == 1.0):
                data_df.loc[data_df['PassengerId'] == passID, 'Family_Survival'] = 1
            elif (smin==0.0):
                data_df.loc[data_df['PassengerId'] == passID, 'Family_Survival'] = 0

print("Number of passengers with family survival information:", 
      data_df.loc[data_df['Family_Survival']!=0.5].shape[0])

Number of passengers with family survival information: 420

In [11]:
for _, grp_df in data_df.groupby('Ticket'):
    if (len(grp_df) != 1):
        for ind, row in grp_df.iterrows():
            if (row['Family_Survival'] == 0) | (row['Family_Survival']== 0.5):
                smax = grp_df.drop(ind)['Survived'].max()
                smin = grp_df.drop(ind)['Survived'].min()
                passID = row['PassengerId']
                if (smax == 1.0):
                    data_df.loc[data_df['PassengerId'] == passID, 'Family_Survival'] = 1
                elif (smin==0.0):
                    data_df.loc[data_df['PassengerId'] == passID, 'Family_Survival'] = 0
                        
print("Number of passenger with family/group survival information: " 
      +str(data_df[data_df['Family_Survival']!=0.5].shape[0]))

# # Family_Survival in TRAIN_DF and TEST_DF:
train_df['Family_Survival'] = data_df['Family_Survival'][:891]
test_df['Family_Survival'] = data_df['Family_Survival'][891:]

Number of passenger with family/group survival information: 546

In [12]:
data_df['Fare'].fillna(data_df['Fare'].median(), inplace = True)

# Making Bins
data_df['FareBin'] = pd.qcut(data_df['Fare'], 5)

label = LabelEncoder()
data_df['FareBin_Code'] = label.fit_transform(data_df['FareBin'])

train_df['FareBin_Code'] = data_df['FareBin_Code'][:891]
test_df['FareBin_Code'] = data_df['FareBin_Code'][891:]

train_df.drop(['Fare'], 1, inplace=True)
test_df.drop(['Fare'], 1, inplace=True)

In [13]:
data_df['AgeBin'] = pd.qcut(data_df['Age'], 4)

label = LabelEncoder()
data_df['AgeBin_Code'] = label.fit_transform(data_df['AgeBin'])

train_df['AgeBin_Code'] = data_df['AgeBin_Code'][:891]
test_df['AgeBin_Code'] = data_df['AgeBin_Code'][891:]

train_df.drop(['Age'], 1, inplace=True)
test_df.drop(['Age'], 1, inplace=True)

In [14]:
train_df['Sex'].replace(['male','female'],[0,1],inplace=True)
test_df['Sex'].replace(['male','female'],[0,1],inplace=True)

train_df.drop(['Name', 'PassengerId', 'SibSp', 'Parch', 'Ticket', 'Cabin',
               'Embarked'], axis = 1, inplace = True)
test_df.drop(['Name','PassengerId', 'SibSp', 'Parch', 'Ticket', 'Cabin',
              'Embarked'], axis = 1, inplace = True)

In [15]:
train_df.head(10)

,Survived,Pclass,Sex,Family_Size,Family_Survival,FareBin_Code,AgeBin_Code
0,0,3,0,1,0.5,0,0
1,1,1,1,1,0.5,4,3
2,1,3,1,0,0.5,1,1
3,1,1,1,1,0.0,4,2
4,0,3,0,0,0.5,1,2
5,0,3,0,0,0.5,1,1
6,0,1,0,0,0.5,4,3
7,0,3,0,4,0.0,2,0
8,1,3,1,2,1.0,2,1
9,1,2,1,1,0.0,3,0

In [16]:
X = train_df.drop('Survived', 1)
y = train_df['Survived']
X_test = test_df.copy()

In [17]:
std_scaler = StandardScaler()
X = std_scaler.fit_transform(X)
X_test = std_scaler.transform(X_test)

C:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
n_neighbors = [6,7,8,9,10,11,12,14,16,18,20,22]
algorithm = ['auto']
weights = ['uniform', 'distance']
leaf_size = list(range(1,50,5))
hyperparams = {'algorithm': algorithm, 'weights': weights, 'leaf_size': leaf_size, 
               'n_neighbors': n_neighbors}
gd=GridSearchCV(estimator = KNeighborsClassifier(), param_grid = hyperparams, verbose=True, 
                cv=10, scoring = "roc_auc")
gd.fit(X, y)
print(gd.best_score_)
print(gd.best_estimator_)

Fitting 10 folds for each of 240 candidates, totalling 2400 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.879492358564122
KNeighborsClassifier(algorithm='auto', leaf_size=26, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=18, p=2,
           weights='uniform')

[Parallel(n_jobs=1)]: Done 2400 out of 2400 | elapsed:   31.8s finished

In [19]:
gd.best_estimator_.fit(X, y)
y_pred = gd.best_estimator_.predict(X_test)

In [20]:
temp = pd.DataFrame(pd.read_csv("test.csv")['PassengerId'])
temp['Survived'] = y_pred
temp.to_csv("submission_kaggle.csv", index = False)